{
  "openapi": "3.1.0",
  "info": {
    "title": "Jaarrekening.be API",
    "description": "API for accessing Belgian enterprise data including financials, directors, and investments.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://jaarrekening.be/api/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/enterprises": {
      "get": {
        "description": "List enterprises with optional search by name or number.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search by enterprise name or number",
            "schema": {
              "type": "string"
            },
            "example": "Elec"
          }
        ],
        "responses": {
          "200": {
            "description": "List of enterprises",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": [
                    {
                      "slug": "société-mosane-d-electronique",
                      "name": "Société Mosane d'Electronique",
                      "number": "0404.441.993",
                      "start_date": "1968-01-01T00:00:00.000000Z",
                      "municipality_nl": "Saint-Georges-sur-Meuse",
                      "municipality_fr": "Saint-Georges-sur-Meuse",
                      "zipcode": "4470",
                      "street_nl": "Rue Joseph Wauters",
                      "street_fr": "Rue Joseph Wauters",
                      "house_number": "8",
                      "contact": []
                    },
                    {
                      "slug": "Société-d-Applications-Frigorifiques-et-Electroniques",
                      "name": "Société d'Applications Frigorifiques et Electroniques",
                      "number": "0404.619.266",
                      "start_date": "1949-12-30T00:00:00.000000Z",
                      "municipality_nl": "Antwerpen",
                      "municipality_fr": "Antwerpen",
                      "zipcode": "2000",
                      "street_nl": "Lange Schipperskapelstraat",
                      "street_fr": "Lange Schipperskapelstraat",
                      "house_number": "1-3",
                      "contact": []
                    },
                    {
                      "slug": "electro-style",
                      "name": "Electro-Style",
                      "number": "0404.636.884",
                      "start_date": "1961-09-19T00:00:00.000000Z",
                      "municipality_nl": "Antwerpen",
                      "municipality_fr": "Antwerpen",
                      "zipcode": "2060",
                      "street_nl": "Sint-Gummarusstraat",
                      "street_fr": "Sint-Gummarusstraat",
                      "house_number": "40",
                      "contact": []
                    },
                    {
                      "slug": "european-electric-service-ltd",
                      "name": "European Electric Service Ltd",
                      "number": "0404.638.765",
                      "start_date": "1968-01-01T00:00:00.000000Z",
                      "municipality_nl": "Antwerpen",
                      "municipality_fr": "Antwerpen",
                      "zipcode": "2000",
                      "street_nl": "Meir",
                      "street_fr": "Meir",
                      "house_number": "42",
                      "contact": []
                    },
                    {
                      "slug": "Govaerts-Electriciteitsbenodigdheden",
                      "name": "Govaerts - Electriciteitsbenodigdheden",
                      "number": "0404.642.923",
                      "start_date": "1925-01-20T00:00:00.000000Z",
                      "municipality_nl": "Antwerpen",
                      "municipality_fr": "Antwerpen",
                      "zipcode": "2000",
                      "street_nl": "Hessenplein",
                      "street_fr": "Hessenplein",
                      "house_number": "2",
                      "contact": []
                    },
                    {
                      "slug": "Marine-Electronic-Service",
                      "name": "Marine Electronic Service",
                      "number": "0404.651.930",
                      "start_date": "1968-01-01T00:00:00.000000Z",
                      "municipality_nl": "Antwerpen",
                      "municipality_fr": "Antwerpen",
                      "zipcode": "2018",
                      "street_nl": "De Keyserlei",
                      "street_fr": "De Keyserlei",
                      "house_number": "53",
                      "contact": []
                    },
                    {
                      "slug": "electro-industrielle",
                      "name": "Electro Industrielle",
                      "number": "0404.656.977",
                      "start_date": "1968-01-01T00:00:00.000000Z",
                      "municipality_nl": "Antwerpen",
                      "municipality_fr": "Antwerpen",
                      "zipcode": "2060",
                      "street_nl": "Sint-Jansplein",
                      "street_fr": "Sint-Jansplein",
                      "house_number": "17",
                      "contact": []
                    },
                    {
                      "slug": "service-auto-radio-electrique",
                      "name": "Service Auto-Radio-ELectrique",
                      "number": "0404.661.234",
                      "start_date": "1954-03-21T00:00:00.000000Z",
                      "municipality_nl": "Antwerpen",
                      "municipality_fr": "Antwerpen",
                      "zipcode": "2018",
                      "street_nl": "Sint-Vincentiusstraat",
                      "street_fr": "Sint-Vincentiusstraat",
                      "house_number": "35",
                      "contact": []
                    },
                    {
                      "slug": "stereo-electronics",
                      "name": "Stereo Electronics",
                      "number": "0404.665.192",
                      "start_date": "1968-01-01T00:00:00.000000Z",
                      "municipality_nl": "Antwerpen",
                      "municipality_fr": "Antwerpen",
                      "zipcode": "2018",
                      "street_nl": "Lange Leemstraat",
                      "street_fr": "Lange Leemstraat",
                      "house_number": "54",
                      "contact": []
                    },
                    {
                      "slug": "electronical-management-office",
                      "name": "Electronical Management Office",
                      "number": "0404.885.819",
                      "start_date": "1968-01-01T00:00:00.000000Z",
                      "municipality_nl": "Antwerpen",
                      "municipality_fr": "Antwerpen",
                      "zipcode": "2000",
                      "street_nl": "Koningstraat",
                      "street_fr": "Koningstraat",
                      "house_number": "10",
                      "contact": []
                    },
                    {
                      "slug": "electro-willemen",
                      "name": "Electro Willemen",
                      "number": "0404.924.520",
                      "start_date": "1968-01-01T00:00:00.000000Z",
                      "municipality_nl": "Antwerpen",
                      "municipality_fr": "Antwerpen",
                      "zipcode": "2140",
                      "street_nl": "Te Boelaarlei",
                      "street_fr": "Te Boelaarlei",
                      "house_number": "27",
                      "contact": []
                    },
                    {
                      "slug": "electriciteitszaak-de-wit",
                      "name": "Electriciteitszaak De Wit",
                      "number": "0405.022.609",
                      "start_date": "1968-01-01T00:00:00.000000Z",
                      "municipality_nl": "Antwerpen",
                      "municipality_fr": "Antwerpen",
                      "zipcode": "2000",
                      "street_nl": "Schildersstraat",
                      "street_fr": "Schildersstraat",
                      "house_number": "53",
                      "contact": []
                    },
                    {
                      "slug": "Auto-Electro-Diesel-Equipment",
                      "name": "Auto Electro Diesel Equipment",
                      "number": "0405.089.420",
                      "start_date": "1965-04-06T00:00:00.000000Z",
                      "municipality_nl": "Brugge",
                      "municipality_fr": "Brugge",
                      "zipcode": "8000",
                      "street_nl": "Sint-Clarastraat",
                      "street_fr": "Sint-Clarastraat",
                      "house_number": "121",
                      "contact": []
                    },
                    {
                      "slug": "electa",
                      "name": "Electa",
                      "number": "0405.110.602",
                      "start_date": "1968-01-01T00:00:00.000000Z",
                      "municipality_nl": "Sint-Niklaas",
                      "municipality_fr": "Sint-Niklaas",
                      "zipcode": "9100",
                      "street_nl": "Europark-Noord",
                      "street_fr": "Europark-Noord",
                      "house_number": "39",
                      "contact": []
                    },
                    {
                      "slug": "electricité-générale-d-ostende",
                      "name": "Electricité Générale d'Ostende",
                      "number": "0405.255.904",
                      "start_date": "1953-04-30T00:00:00.000000Z",
                      "municipality_nl": "Oostende",
                      "municipality_fr": "Oostende",
                      "zipcode": "8400",
                      "street_nl": "Groentemarkt",
                      "street_fr": "Groentemarkt",
                      "house_number": "4",
                      "contact": []
                    }
                  ],
                  "links": {
                    "first": "http://localhost:8000/api/v1/enterprises?page=1",
                    "last": null,
                    "prev": null,
                    "next": "http://localhost:8000/api/v1/enterprises?page=2"
                  },
                  "meta": {
                    "current_page": 1,
                    "from": 1,
                    "path": "http://localhost:8000/api/v1/enterprises",
                    "per_page": 15,
                    "to": 15
                  }
                }
              }
            }
          }
        }
      }
    },
    "/enterprises/{search}": {
      "get": {
        "description": "Get details for a single enterprise.",
        "parameters": [
          {
            "name": "search",
            "in": "path",
            "description": "Enterprise number or slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "years",
            "in": "query",
            "description": "Comma-separated list of years",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enterprise details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": {
                    "slug": "ELECTRABEL",
                    "name": "ELECTRABEL",
                    "number": "0403.170.701",
                    "url": "https://jaarrekening.be/nl/ELECTRABEL/0403.170.701",
                    "start_date": "1905-08-08T00:00:00.000000Z",
                    "end_date": null,
                    "language": {
                      "code": "1",
                      "description": "Frans"
                    },
                    "juridical_form": {
                      "code": "14",
                      "description": "Naamloze vennootschap"
                    },
                    "juridical_situation": {
                      "code": "0",
                      "description": "Normale toestand"
                    },
                    "main_activity": {
                      "nace_code": "35111",
                      "description": "Productie van elektriciteit door thermische centrales",
                      "group": "BTW-activiteiten"
                    },
                    "municipality_nl": "Brussel",
                    "municipality_fr": "Bruxelles",
                    "zipcode": "1000",
                    "street_nl": "Simon Bolivarlaan",
                    "street_fr": "Boulevard Simon Bolivar",
                    "house_number": "34",
                    "contact": [
                      {
                        "code": "ENT",
                        "type": "WEB",
                        "value": "www.engie.com"
                      }
                    ],
                    "ratios": {
                      "health_score": "2.95",
                      "gain_loss_period": "-2738358736.99",
                      "equity": "14013644754.61",
                      "gross_operating_margin": null,
                      "turnover": "15108706829.28",
                      "employees": "4248.20",
                      "ebitda": "-2446684382.85",
                      "ebit": "-2738358736.99",
                      "net_profit": "-2189778698.62",
                      "capex": "360498242.74",
                      "cash": "149864342.54",
                      "cashflow": "-1832120901.53",
                      "current_ratio": "0.50",
                      "quick_ratio": "0.50",
                      "net_working_capital": "-7797891556.40",
                      "net_working_capital_ratio": "0.50",
                      "customer_credit": "70.71",
                      "supplier_credit": "83.13",
                      "assets": "46510805214.23",
                      "amounts_payable": "25433302146.32",
                      "solvability": "30.13",
                      "long_term_debt_ratio": "0.71",
                      "gross_profitability": "-13.07",
                      "net_profitability": "-15.63",
                      "credit_limit": "1121091580.37",
                      "tax": "162366008.45"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/enterprises/{search}/financials": {
      "get": {
        "description": "Get financial reports by year.",
        "parameters": [
          {
            "name": "search",
            "in": "path",
            "description": "Enterprise number or slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "years",
            "in": "query",
            "description": "Comma-separated list of years",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Financial data per year",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                },
                "example": {
                  "data": [
                    {
                      "year": 2020,
                      "numbers": {
                        "financial_period": {
                          "fixed_assets_formation_expenses_excluded": "36605824439.9",
                          "intangible_fixed_assets": "753457240.29",
                          "tangible_fixed_assets": "1438747862.01",
                          "land_buildings": "49919291",
                          "plant_machinery_equipment": "1263327624.4",
                          "furniture_vehicles": "11611085.15",
                          "other_tangible_assets": "17846039.29",
                          "assets_under_construction_advance_payments": "96043822.17",
                          "financial_fixed_assets": "34413619337.6",
                          "currents_assets": "5313326014.22",
                          "amounts_receivable_more_one_year": "123470705.58",
                          "other_amounts_receivable_more_one_year": "97660705.58",
                          "stocks_contracts_progress": "288625874.55",
                          "stocks": "270683690.64",
                          "stock_goods_purchased_resale": "11309590.5",
                          "contracts_progress": "17942183.91",
                          "amounts_receivable_within_one_year": "3097297367.47",
                          "trade_debtors_within_one_year": "1740493009.93",
                          "other_amounts_receivable_within_one_year": "1356804357.54",
                          "cash_bank_hand": "9624458.7",
                          "deferred_charges_accrued_income": "1794307607.92",
                          "assets": "41919150454.12",
                          "equity": "15630871181.5",
                          "equity_contribution": "12867288322.49",
                          "not_available_equity_contribution": null,
                          "capital": "4639721779.04",
                          "issued_capital": "5789721779.04",
                          "outside_capital": "8227566543.45",
                          "share_premium_account": "8227566543.45",
                          "revaluation_surpluses": null,
                          "reserves": "2762880101.98",
                          "reserves_not_available": "578972224.11",
                          "legal_reserve": "578972177.9",
                          "other_reserves_not_available": "46.21",
                          "untaxed_reserves": null,
                          "available_reserves": "2183907877.87",
                          "accumulated_profits_losses": null,
                          "investment_grants": "702757.03",
                          "provisions_deferred_taxes": "1474925253.05",
                          "provision_liabilities_charges": "1474925253.05",
                          "provisions_pensions_similar_obligations": "153687960.02",
                          "provisions_other_liabilities_charges_environmental_obligations_excluded": "317926158.44",
                          "deferred_taxes": null,
                          "amounts_payable": "24813354019.57",
                          "amounts_payable_more_one_year": "19580092276.4",
                          "financial_debts_remaining_term_more_one_year": "19400814072.41",
                          "other_loans_remaining_term_more_one_year": "19289909000",
                          "amounts_payable_within_one_year": "4588419494.61",
                          "financial_debts_payable_within_one_year": null,
                          "other_loans_payable_within_one_year": null,
                          "trade_debts_payable_within_one_year": "1778666186.6",
                          "suppliers_invoices_to_receive_within_one_year": "1778666186.6",
                          "advances_received_contracts_progress_within_one_year": "1207336360.34",
                          "taxes_remuneration_social_security": "168413273.87",
                          "taxes": "47670916.06",
                          "remuneration_social_security": "120742357.81",
                          "other_amounts_payable_within_one_year": "528508353.5",
                          "accrued_charges_deferred_income": "644842248.56",
                          "equity_liabilities": "41919150454.12",
                          "operating_income_non_recurring_operating_income_included": "11418573431.06",
                          "gross_operating_margin": null,
                          "turnover": "10919735253.48",
                          "increase_decrease_stocks_work_contracts_progress": "9557668.33",
                          "own_construction_capitalised": "180914924.92",
                          "other_operating_income": "273057502.1",
                          "operating_charges_non_recurring_operating_charges_included": "11562443546.02",
                          "raw_materials_consumables": "9456388010.66",
                          "purchases_raw_materials_consumables": "9467774710.01",
                          "increase_decrease_stocks": "-11386699.35",
                          "services_other_goods": "808171652.72",
                          "remuneration_social_security_pensions": "607540333.79",
                          "depreciation_other_amounts_written_down_formation_expenses_intangible_tangible_fixed_assets": "385309403.62",
                          "amounts_written_down_stocks_contracts_progress_trade_debtors_appropriations_write_backs": "-10914129.37",
                          "provisions_risks_charges_appropriations_write_backs": "-91752334.27",
                          "miscellaneous_operating_charges": "155658821.6",
                          "non_recurring_operating_charges": "252041787.27",
                          "operating_profit_loss": "-143870114.96",
                          "financial_income_non_recurring_financial_income_included": "1324172780.07",
                          "financial_income": "1280134145.14",
                          "income_current_assets": "2105000.05",
                          "other_financial_income": "29956690.63",
                          "non_recurring_financial_yields": "44038634.93",
                          "financial_charges_non_recurring_financial_charges_included": "3150488205.08",
                          "financial_charges": "681957624.78",
                          "debt_charges": "653511548.27",
                          "other_financial_charges": "28446076.51",
                          "gain_loss_before_taxes": "-1970185539.97",
                          "transfer_from_deferred_taxes": null,
                          "income_taxes": "22629763.8",
                          "belgian_foreign_income_taxes": "22629763.8",
                          "adjustment_income_taxes_write_back_tax_provisions": null,
                          "gain_loss_period": "-1992815303.77",
                          "transfer_from_untaxed_reserves": null,
                          "transfers_to_capital_reserves": null,
                          "gain_loss_to_be_appropriated": "-1992815303.77",
                          "to_be_distributed_gain": "693000000",
                          "employees": "4659.3",
                          "total_fte_men": "3580.1",
                          "total_fte_women": "1079.2",
                          "hours_worked_men": "4912939",
                          "hours_worked_women": "1446947"
                        },
                        "previous_financial_period": {
                          "fixed_assets_formation_expenses_excluded": "46441927508.86",
                          "intangible_fixed_assets": "850239292.05",
                          "tangible_fixed_assets": "1530784868.41",
                          "land_buildings": "41388970.68",
                          "plant_machinery_equipment": "1321697293.04",
                          "furniture_vehicles": "12900300.69",
                          "other_tangible_assets": "19293570.28",
                          "assets_under_construction_advance_payments": "135504733.72",
                          "financial_fixed_assets": "44060903348.4",
                          "currents_assets": "4423025607.04",
                          "amounts_receivable_more_one_year": "93257419.14",
                          "other_amounts_receivable_more_one_year": "93257419.14",
                          "stocks_contracts_progress": "263851635.86",
                          "stocks": "255467120.28",
                          "stock_goods_purchased_resale": "11309590.5",
                          "contracts_progress": "8384515.58",
                          "amounts_receivable_within_one_year": "2231906508.91",
                          "trade_debtors_within_one_year": "1403229216.34",
                          "other_amounts_receivable_within_one_year": "828677292.57",
                          "cash_bank_hand": "9939007.15",
                          "deferred_charges_accrued_income": "1824071035.98",
                          "assets": "50864953115.9",
                          "equity": "18316788045.53",
                          "equity_contribution": "12867288322.49",
                          "not_available_equity_contribution": null,
                          "capital": "4639721779.04",
                          "issued_capital": "5789721779.04",
                          "outside_capital": "8227566543.45",
                          "share_premium_account": "8227566543.45",
                          "revaluation_surpluses": null,
                          "reserves": "3969979241.51",
                          "reserves_not_available": "578972224.11",
                          "legal_reserve": "578972177.9",
                          "other_reserves_not_available": "46.21",
                          "untaxed_reserves": null,
                          "available_reserves": "3391007017.4",
                          "accumulated_profits_losses": "1478716164.24",
                          "investment_grants": "804317.29",
                          "provisions_deferred_taxes": "1548246784.01",
                          "provision_liabilities_charges": "1548246784.01",
                          "provisions_pensions_similar_obligations": "172759155",
                          "provisions_other_liabilities_charges_environmental_obligations_excluded": "357066417.77",
                          "deferred_taxes": null,
                          "amounts_payable": "30999918286.36",
                          "amounts_payable_more_one_year": "18456848559.43",
                          "financial_debts_remaining_term_more_one_year": "18456309392.54",
                          "other_loans_remaining_term_more_one_year": "18309909000",
                          "amounts_payable_within_one_year": "11985144280.83",
                          "financial_debts_payable_within_one_year": null,
                          "other_loans_payable_within_one_year": null,
                          "trade_debts_payable_within_one_year": "4061498824.27",
                          "suppliers_invoices_to_receive_within_one_year": "4061498824.27",
                          "advances_received_contracts_progress_within_one_year": "1262223815.53",
                          "taxes_remuneration_social_security": "163219014.31",
                          "taxes": "43075262.93",
                          "remuneration_social_security": "120143751.38",
                          "other_amounts_payable_within_one_year": "462809446.69",
                          "accrued_charges_deferred_income": "557925446.1",
                          "equity_liabilities": "50864953115.9",
                          "operating_income_non_recurring_operating_income_included": "11276257950.35",
                          "gross_operating_margin": null,
                          "turnover": "10635788179.32",
                          "increase_decrease_stocks_work_contracts_progress": "8384515.58",
                          "own_construction_capitalised": "200079611.4",
                          "other_operating_income": "366052056.64",
                          "operating_charges_non_recurring_operating_charges_included": "13412663790.99",
                          "raw_materials_consumables": "9360541091.72",
                          "purchases_raw_materials_consumables": "9363443071.55",
                          "increase_decrease_stocks": "-2901979.83",
                          "services_other_goods": "1047784237.16",
                          "remuneration_social_security_pensions": "591575317.73",
                          "depreciation_other_amounts_written_down_formation_expenses_intangible_tangible_fixed_assets": "331176914.9",
                          "amounts_written_down_stocks_contracts_progress_trade_debtors_appropriations_write_backs": "-2352554.53",
                          "provisions_risks_charges_appropriations_write_backs": "-175816999.65",
                          "miscellaneous_operating_charges": "263931108.36",
                          "non_recurring_operating_charges": "1995824675.3",
                          "operating_profit_loss": "-2136405840.64",
                          "financial_income_non_recurring_financial_income_included": "8752448094.33",
                          "financial_income": "8662728516.05",
                          "income_current_assets": "1826930.17",
                          "other_financial_income": "1753698.19",
                          "non_recurring_financial_yields": "89719578.28",
                          "financial_charges_non_recurring_financial_charges_included": "5849662566.96",
                          "financial_charges": "720759080.16",
                          "debt_charges": "685792047.43",
                          "other_financial_charges": "34967032.73",
                          "gain_loss_before_taxes": "766379686.73",
                          "transfer_from_deferred_taxes": null,
                          "income_taxes": "83255.74",
                          "belgian_foreign_income_taxes": "84422.75",
                          "adjustment_income_taxes_write_back_tax_provisions": "1167.01",
                          "gain_loss_period": "766296430.99",
                          "transfer_from_untaxed_reserves": null,
                          "transfers_to_capital_reserves": null,
                          "gain_loss_to_be_appropriated": "766296430.99",
                          "to_be_distributed_gain": null,
                          "employees": "4668.8",
                          "total_fte_men": "3593.7",
                          "total_fte_women": "1075.1",
                          "hours_worked_men": "4786178",
                          "hours_worked_women": "1383600"
                        }
                      }
                    },
                    {
                      "year": 2019,
                      "numbers": {
                        "financial_period": {
                          "fixed_assets_formation_expenses_excluded": "46441927508.86",
                          "intangible_fixed_assets": "850239292.05",
                          "tangible_fixed_assets": "1530784868.41",
                          "land_buildings": "41388970.68",
                          "plant_machinery_equipment": "1321697293.04",
                          "furniture_vehicles": "12900300.69",
                          "other_tangible_assets": "19293570.28",
                          "assets_under_construction_advance_payments": "135504733.72",
                          "financial_fixed_assets": "44060903348.4",
                          "currents_assets": "4423025607.04",
                          "amounts_receivable_more_one_year": "93257419.14",
                          "other_amounts_receivable_more_one_year": "93257419.14",
                          "stocks_contracts_progress": "263851635.86",
                          "stocks": "255467120.28",
                          "stock_goods_purchased_resale": "11309590.5",
                          "contracts_progress": "8384515.58",
                          "amounts_receivable_within_one_year": "2231906508.91",
                          "trade_debtors_within_one_year": "1403229216.34",
                          "other_amounts_receivable_within_one_year": "828677292.57",
                          "cash_bank_hand": "9939007.15",
                          "deferred_charges_accrued_income": "1824071035.98",
                          "assets": "50864953115.9",
                          "equity": "18316788045.53",
                          "equity_contribution": null,
                          "not_available_equity_contribution": null,
                          "capital": "4639721779.04",
                          "issued_capital": "5789721779.04",
                          "outside_capital": null,
                          "share_premium_account": "8227566543.45",
                          "revaluation_surpluses": null,
                          "reserves": "3969979241.51",
                          "reserves_not_available": "46.21",
                          "legal_reserve": "578972177.9",
                          "other_reserves_not_available": "46.21",
                          "untaxed_reserves": null,
                          "available_reserves": "3391007017.4",
                          "accumulated_profits_losses": "1478716164.24",
                          "investment_grants": "804317.29",
                          "provisions_deferred_taxes": "1548246784.01",
                          "provision_liabilities_charges": "1548246784.01",
                          "provisions_pensions_similar_obligations": "172759155",
                          "provisions_other_liabilities_charges_environmental_obligations_excluded": "357066417.77",
                          "deferred_taxes": null,
                          "amounts_payable": "30999918286.36",
                          "amounts_payable_more_one_year": "18456848559.43",
                          "financial_debts_remaining_term_more_one_year": "18456309392.54",
                          "other_loans_remaining_term_more_one_year": "18309909000",
                          "amounts_payable_within_one_year": "11985144280.83",
                          "financial_debts_payable_within_one_year": null,
                          "other_loans_payable_within_one_year": null,
                          "trade_debts_payable_within_one_year": "4061498824.27",
                          "suppliers_invoices_to_receive_within_one_year": "4061498824.27",
                          "advances_received_contracts_progress_within_one_year": "1262223815.53",
                          "taxes_remuneration_social_security": "163219014.31",
                          "taxes": "43075262.93",
                          "remuneration_social_security": "120143751.38",
                          "other_amounts_payable_within_one_year": "462809446.69",
                          "accrued_charges_deferred_income": "557925446.1",
                          "equity_liabilities": "50864953115.9",
                          "operating_income_non_recurring_operating_income_included": "11276257950.35",
                          "gross_operating_margin": null,
                          "turnover": "10635788179.32",
                          "increase_decrease_stocks_work_contracts_progress": "8384515.58",
                          "own_construction_capitalised": "200079611.4",
                          "other_operating_income": "366052056.64",
                          "operating_charges_non_recurring_operating_charges_included": "13412663790.99",
                          "raw_materials_consumables": "9360541091.72",
                          "purchases_raw_materials_consumables": "9363443071.55",
                          "increase_decrease_stocks": "-2901979.83",
                          "services_other_goods": "1047784237.16",
                          "remuneration_social_security_pensions": "591575317.73",
                          "depreciation_other_amounts_written_down_formation_expenses_intangible_tangible_fixed_assets": "331176914.9",
                          "amounts_written_down_stocks_contracts_progress_trade_debtors_appropriations_write_backs": "-2352554.53",
                          "provisions_risks_charges_appropriations_write_backs": "-175816999.65",
                          "miscellaneous_operating_charges": "263931108.36",
                          "non_recurring_operating_charges": "1995824675.3",
                          "operating_profit_loss": "-2136405840.64",
                          "financial_income_non_recurring_financial_income_included": "8752448094.33",
                          "financial_income": "8662728516.05",
                          "income_current_assets": "1826930.17",
                          "other_financial_income": "1753698.19",
                          "non_recurring_financial_yields": "89719578.28",
                          "financial_charges_non_recurring_financial_charges_included": "5849662566.96",
                          "financial_charges": "720759080.16",
                          "debt_charges": "685792047.43",
                          "other_financial_charges": "34967032.73",
                          "gain_loss_before_taxes": "766379686.73",
                          "transfer_from_deferred_taxes": null,
                          "income_taxes": "83255.74",
                          "belgian_foreign_income_taxes": "84422.75",
                          "adjustment_income_taxes_write_back_tax_provisions": "1167.01",
                          "gain_loss_period": "766296430.99",
                          "transfer_from_untaxed_reserves": null,
                          "transfers_to_capital_reserves": null,
                          "gain_loss_to_be_appropriated": "766296430.99",
                          "to_be_distributed_gain": null,
                          "employees": "4668.8",
                          "total_fte_men": "3593.7",
                          "total_fte_women": "1075.1",
                          "hours_worked_men": "4786178",
                          "hours_worked_women": "1383600"
                        },
                        "previous_financial_period": {
                          "fixed_assets_formation_expenses_excluded": "44420542601.67",
                          "intangible_fixed_assets": "896735562.09",
                          "tangible_fixed_assets": "1568451485.88",
                          "land_buildings": "42377432.68",
                          "plant_machinery_equipment": "1215999771",
                          "furniture_vehicles": "14550239.77",
                          "other_tangible_assets": "20282836.73",
                          "assets_under_construction_advance_payments": "275241205.7",
                          "financial_fixed_assets": "41955355553.7",
                          "currents_assets": "4157416355.21",
                          "amounts_receivable_more_one_year": "86806377.99",
                          "other_amounts_receivable_more_one_year": "79278694.98",
                          "stocks_contracts_progress": "267011418.24",
                          "stocks": "267011418.24",
                          "stock_goods_purchased_resale": "16352306.08",
                          "contracts_progress": null,
                          "amounts_receivable_within_one_year": "1760005913.21",
                          "trade_debtors_within_one_year": "1525248027.08",
                          "other_amounts_receivable_within_one_year": "234757886.13",
                          "cash_bank_hand": "13303825.83",
                          "deferred_charges_accrued_income": "2030288819.94",
                          "assets": "48577958956.88",
                          "equity": "17550597367.53",
                          "equity_contribution": null,
                          "not_available_equity_contribution": null,
                          "capital": "4639721779.04",
                          "issued_capital": "5789721779.04",
                          "outside_capital": null,
                          "share_premium_account": "8227566543.45",
                          "revaluation_surpluses": null,
                          "reserves": "3969979241.51",
                          "reserves_not_available": "46.21",
                          "legal_reserve": "578972177.9",
                          "other_reserves_not_available": "46.21",
                          "untaxed_reserves": null,
                          "available_reserves": "3391007017.4",
                          "accumulated_profits_losses": "712419733.25",
                          "investment_grants": "910070.28",
                          "provisions_deferred_taxes": "1442629217.67",
                          "provision_liabilities_charges": "1442629217.67",
                          "provisions_pensions_similar_obligations": "4808590",
                          "provisions_other_liabilities_charges_environmental_obligations_excluded": "371982151.46",
                          "deferred_taxes": null,
                          "amounts_payable": "29584732371.68",
                          "amounts_payable_more_one_year": "18911659364.29",
                          "financial_debts_remaining_term_more_one_year": "18911120197.4",
                          "other_loans_remaining_term_more_one_year": "18630561433.44",
                          "amounts_payable_within_one_year": "9852975539.4",
                          "financial_debts_payable_within_one_year": null,
                          "other_loans_payable_within_one_year": null,
                          "trade_debts_payable_within_one_year": "1792802835.71",
                          "suppliers_invoices_to_receive_within_one_year": "1792802835.71",
                          "advances_received_contracts_progress_within_one_year": "1346304104.59",
                          "taxes_remuneration_social_security": "165943559.98",
                          "taxes": "53217869.62",
                          "remuneration_social_security": "112725690.36",
                          "other_amounts_payable_within_one_year": "1859382929.97",
                          "accrued_charges_deferred_income": "820097467.99",
                          "equity_liabilities": "48577958956.88",
                          "operating_income_non_recurring_operating_income_included": "11599959599.21",
                          "gross_operating_margin": null,
                          "turnover": "11077113989.48",
                          "increase_decrease_stocks_work_contracts_progress": null,
                          "own_construction_capitalised": "220249576.34",
                          "other_operating_income": "302596033.39",
                          "operating_charges_non_recurring_operating_charges_included": "13102979120.36",
                          "raw_materials_consumables": "10467254852.04",
                          "purchases_raw_materials_consumables": "10488906954",
                          "increase_decrease_stocks": "-21652101.96",
                          "services_other_goods": "865284424.48",
                          "remuneration_social_security_pensions": "594903770.1",
                          "depreciation_other_amounts_written_down_formation_expenses_intangible_tangible_fixed_assets": "288646163.97",
                          "amounts_written_down_stocks_contracts_progress_trade_debtors_appropriations_write_backs": "2526049.88",
                          "provisions_risks_charges_appropriations_write_backs": "-131588784.09",
                          "miscellaneous_operating_charges": "256239012.29",
                          "non_recurring_operating_charges": "759713631.69",
                          "operating_profit_loss": "-1503019521.15",
                          "financial_income_non_recurring_financial_income_included": "2290689168.28",
                          "financial_income": "2263133509.8",
                          "income_current_assets": "2195254.89",
                          "other_financial_income": "10923249.35",
                          "non_recurring_financial_yields": "27555658.48",
                          "financial_charges_non_recurring_financial_charges_included": "1204769215.32",
                          "financial_charges": "738793455.85",
                          "debt_charges": "702977284.09",
                          "other_financial_charges": "35816171.76",
                          "gain_loss_before_taxes": "-417099568.19",
                          "transfer_from_deferred_taxes": null,
                          "income_taxes": "136766.33",
                          "belgian_foreign_income_taxes": "136766.33",
                          "adjustment_income_taxes_write_back_tax_provisions": null,
                          "gain_loss_period": "-417236334.52",
                          "transfer_from_untaxed_reserves": null,
                          "transfers_to_capital_reserves": null,
                          "gain_loss_to_be_appropriated": "-417236334.52",
                          "to_be_distributed_gain": null,
                          "employees": "4655.1",
                          "total_fte_men": "3593.5",
                          "total_fte_women": "1061.6",
                          "hours_worked_men": "4898090",
                          "hours_worked_women": "1388173"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/enterprises/{search}/directors": {
      "get": {
        "description": "Get directors from annual reports.",
        "parameters": [
          {
            "name": "search",
            "in": "path",
            "description": "Enterprise number or slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "years",
            "in": "query",
            "description": "Comma-separated list of years",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Directors data per year",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                },
                "example": {
                  "data": [
                    {
                      "year": 2019,
                      "individuals": [
                        {
                          "address": "Boulevard Jean Jaurès 3",
                          "representative": null,
                          "firstName": "Isabelle",
                          "lastName": "Kocher",
                          "mandateStartDate": "2016-04-26",
                          "mandateEndDate": "2019-10-03",
                          "position": "Director"
                        },
                        {
                          "address": "Allée du Spinoit 2",
                          "representative": null,
                          "firstName": "Philippe",
                          "lastName": "Van Troeye",
                          "mandateStartDate": "2016-04-26",
                          "mandateEndDate": "2020-04-28",
                          "position": "Director"
                        },
                        {
                          "address": "Avenue du Manoir 17",
                          "representative": null,
                          "firstName": "Patrick",
                          "lastName": "Gaussent",
                          "mandateStartDate": "2019-04-23",
                          "mandateEndDate": "2019-10-03",
                          "position": "Director"
                        },
                        {
                          "address": "Rue Quentin Bauchart 8",
                          "representative": null,
                          "firstName": "Paulo",
                          "lastName": "Almirante",
                          "mandateStartDate": "2019-10-03",
                          "mandateEndDate": "2024-04-23",
                          "position": "Director"
                        },
                        {
                          "address": "Rue Louis David 3",
                          "representative": null,
                          "firstName": "Pierre",
                          "lastName": "Chareyre",
                          "mandateStartDate": "2019-04-23",
                          "mandateEndDate": "2023-04-25",
                          "position": "Director"
                        },
                        {
                          "address": "Rue Magenta 16",
                          "representative": null,
                          "firstName": "Judith",
                          "lastName": "Hartmann",
                          "mandateStartDate": "2019-04-23",
                          "mandateEndDate": "2023-04-25",
                          "position": "Director"
                        },
                        {
                          "address": "Stekelbremlaan 22",
                          "representative": null,
                          "firstName": "Cedric",
                          "lastName": "Osterrieth",
                          "mandateStartDate": "2019-10-03",
                          "mandateEndDate": "2024-04-23",
                          "position": "Director"
                        },
                        {
                          "address": "Avenue Edouard Lacomblé 38",
                          "representative": null,
                          "firstName": "Thierry",
                          "lastName": "Saegeman",
                          "mandateStartDate": "2019-10-03",
                          "mandateEndDate": "2024-04-23",
                          "position": "Director"
                        },
                        {
                          "address": "Chemin du Bois de Hal 91",
                          "representative": null,
                          "firstName": "Patrick",
                          "lastName": "van der Beken",
                          "mandateStartDate": "2019-04-23",
                          "mandateEndDate": "2023-04-25",
                          "position": "Director"
                        },
                        {
                          "address": "Rue de Lille 44",
                          "representative": null,
                          "firstName": "Pierre",
                          "lastName": "Mongin",
                          "mandateStartDate": "2015-09-03",
                          "mandateEndDate": "2019-04-23",
                          "position": "Director"
                        }
                      ],
                      "entities": [
                        {
                          "name": "Thijs Johnny BVBA",
                          "address": "Zegemeerpad 3",
                          "representative": {
                            "name": "Johnny Thijs"
                          },
                          "number": "BE0470622224",
                          "mandateStartDate": "2019-10-03",
                          "mandateEndDate": "2022-04-26",
                          "position": "Director"
                        },
                        {
                          "name": "Nisocafran BV",
                          "address": "Drève des Tumuli 16",
                          "representative": {
                            "name": "Etienne Denoël"
                          },
                          "number": "BE0707985182",
                          "mandateStartDate": "2019-10-03",
                          "mandateEndDate": "2023-04-25",
                          "position": "Director"
                        }
                      ],
                      "auditors": [
                        {
                          "name": "Deloitte Réviseurs d'Entreprises SCRL - Deloitte Bedrijfsrev (B00025)",
                          "address": "Gateway Building Luchthaven Brussel Nationaal 1",
                          "representative": {
                            "name": "Laurent Boxus",
                            "address": "Gateway Building Luchthaven Brussel Nationaal 1"
                          },
                          "number": "BE0429053863",
                          "mandateStartDate": "2017-04-25",
                          "mandateEndDate": "2020-04-28",
                          "position": "Auditor"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/enterprises/{search}/investments": {
      "get": {
        "description": "Get participations and investments.",
        "parameters": [
          {
            "name": "search",
            "in": "path",
            "description": "Enterprise number or slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "years",
            "in": "query",
            "description": "Comma-separated list of years",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Investments data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                },
                "example": {
                  "data": [
                    {
                      "year": 2020,
                      "items": [
                        {
                          "name": "BELUX INNOVATION HOLDING",
                          "identifier": "BE0664799495",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "39997",
                          "sharesPercentage": "0.9999",
                          "specification": null
                        },
                        {
                          "name": "BLOMHOF",
                          "identifier": "BE0405671420",
                          "nature": "Aandelen A",
                          "sharesNumber": "44999",
                          "sharesPercentage": "0.9999",
                          "specification": null
                        },
                        {
                          "name": "CONTASSUR (CONTIBEL ASSURANCES VIE)",
                          "identifier": "BE0424225045",
                          "nature": "Aandelen",
                          "sharesNumber": "15000",
                          "sharesPercentage": "0.15",
                          "specification": null
                        },
                        {
                          "name": "CONTASSUR ASSISTANCE CONSEIL",
                          "identifier": "BE0404525632",
                          "nature": "Aandelen",
                          "sharesNumber": "1",
                          "sharesPercentage": "0.0004",
                          "specification": null
                        },
                        {
                          "name": "ELECTRABEL COGREEN",
                          "identifier": "BE0525640426",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "150",
                          "sharesPercentage": "0.0043",
                          "specification": null
                        },
                        {
                          "name": "ELECTRABEL SEANERGY",
                          "identifier": "BE0479612837",
                          "nature": "Aandelen A",
                          "sharesNumber": "800",
                          "sharesPercentage": "0.8",
                          "specification": null
                        },
                        {
                          "name": "EGPF (ELECTRABEL GREEN PROJECTS FLANDERS)",
                          "identifier": "BE0465399763",
                          "nature": "Aandelen A",
                          "sharesNumber": "356384",
                          "sharesPercentage": "0.7",
                          "specification": null
                        },
                        {
                          "name": "ENGIE ENERGY MANAGEMENT",
                          "identifier": "BE0831958211",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "67444545",
                          "sharesPercentage": "1",
                          "specification": null
                        },
                        {
                          "name": "ENGIE MANAGEMENT COMPANY BELGIUM",
                          "identifier": "BE0825952921",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "1",
                          "sharesPercentage": "0.01",
                          "specification": null
                        },
                        {
                          "name": "ENGIE GLOBAL BUSINESS SUPPORT",
                          "identifier": "BE0505619626",
                          "nature": "Sociale aandelen",
                          "sharesNumber": "1",
                          "sharesPercentage": "0.0001",
                          "specification": null
                        },
                        {
                          "name": "ENGIE M2M",
                          "identifier": "BE0632450985",
                          "nature": "Aandelen",
                          "sharesNumber": "178746",
                          "sharesPercentage": "0.2927",
                          "specification": null
                        },
                        {
                          "name": "ENGIE SUN4BUSINESS",
                          "identifier": "BE0666554504",
                          "nature": "Aandelen",
                          "sharesNumber": "4000",
                          "sharesPercentage": "0.625",
                          "specification": null
                        },
                        {
                          "name": "ENGIE SUN4BUSINESS 3",
                          "identifier": "BE0704895139",
                          "nature": "Aandelen",
                          "sharesNumber": "1",
                          "sharesPercentage": "0.05",
                          "specification": null
                        },
                        {
                          "name": "ENORA",
                          "identifier": "BE0542769438",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "1950",
                          "sharesPercentage": "0.3333",
                          "specification": null
                        },
                        {
                          "name": "GENFINA",
                          "identifier": "BE0435084986",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "1",
                          "sharesPercentage": null,
                          "specification": null
                        },
                        {
                          "name": "GREENSKY",
                          "identifier": "BE0817203422",
                          "nature": "Aandelen A",
                          "sharesNumber": "55400",
                          "sharesPercentage": "0.5",
                          "specification": null
                        },
                        {
                          "name": "GROEN COMPAGNIE VERTE",
                          "identifier": "BE0687519370",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "141202",
                          "sharesPercentage": "0.5",
                          "specification": null
                        },
                        {
                          "name": "INTERNATIONAL POWER LTD",
                          "identifier": "GB02366963",
                          "nature": "Aandelen",
                          "sharesNumber": "5445194036",
                          "sharesPercentage": "0.9999",
                          "specification": null
                        },
                        {
                          "name": "LABORELEC (LABORATOIRE BELGE DE L'INDUSTRIE ELECTRIQUE)",
                          "identifier": "BE0400902582",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "74996",
                          "sharesPercentage": "0.9999",
                          "specification": null
                        },
                        {
                          "name": "LES VENTS DE L'ORNOI",
                          "identifier": "BE0480079823",
                          "nature": "Aandelen B",
                          "sharesNumber": "500",
                          "sharesPercentage": "0.5",
                          "specification": null
                        },
                        {
                          "name": "LILLO ENERGY",
                          "identifier": "BE0893067914",
                          "nature": "Aandelen B",
                          "sharesNumber": "2250",
                          "sharesPercentage": "0.5",
                          "specification": null
                        },
                        {
                          "name": "N-ALLO",
                          "identifier": "BE0466200311",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "29365",
                          "sharesPercentage": "1",
                          "specification": null
                        },
                        {
                          "name": "RECYBEL",
                          "identifier": "BE0449342996",
                          "nature": "Aandelen D",
                          "sharesNumber": "1764",
                          "sharesPercentage": "0.49",
                          "specification": null
                        },
                        {
                          "name": "SEAGULL I",
                          "identifier": "BE0698792156",
                          "nature": "Aandelen",
                          "sharesNumber": "6249",
                          "sharesPercentage": "0.6249",
                          "specification": null
                        },
                        {
                          "name": "SEAGULL II",
                          "identifier": "BE0698792255",
                          "nature": "Aandelen",
                          "sharesNumber": "6250",
                          "sharesPercentage": "0.625",
                          "specification": null
                        },
                        {
                          "name": "SYNATOM ( SOCIETE BELGE DES COMBUSTIBLES NUCLEAIRES )",
                          "identifier": "BE0406820671",
                          "nature": "Aandelen",
                          "sharesNumber": "1999999",
                          "sharesPercentage": "0.9999",
                          "specification": null
                        },
                        {
                          "name": "UFI SA (UNION FINANCIERE ET INDUSTRIELLE)",
                          "identifier": "BE0402365601",
                          "nature": "Aandelen",
                          "sharesNumber": "4999500",
                          "sharesPercentage": "1",
                          "specification": null
                        },
                        {
                          "name": "WALWIND",
                          "identifier": "BE0689797880",
                          "nature": "Sociale aandelen",
                          "sharesNumber": "1500",
                          "sharesPercentage": "0.5",
                          "specification": null
                        },
                        {
                          "name": "WIND4FLANDERS",
                          "identifier": "BE0628836449",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "861936",
                          "sharesPercentage": "0.5",
                          "specification": null
                        },
                        {
                          "name": "WIND4FLANDERS Projects 1",
                          "identifier": "BE0553485859",
                          "nature": "Sociaal Aandelen",
                          "sharesNumber": "1",
                          "sharesPercentage": null,
                          "specification": null
                        },
                        {
                          "name": "WIND4FLANDERS Projects 2",
                          "identifier": "BE0627661264",
                          "nature": "Aandelen",
                          "sharesNumber": "1",
                          "sharesPercentage": null,
                          "specification": null
                        },
                        {
                          "name": "WIND4FLANDERS Projects 3",
                          "identifier": "BE0644840855",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "1",
                          "sharesPercentage": null,
                          "specification": null
                        },
                        {
                          "name": "WIND4FLANDERS Projects 4",
                          "identifier": "BE0667684850",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "1",
                          "sharesPercentage": null,
                          "specification": null
                        },
                        {
                          "name": "WIND4FLANDERS Projects 5",
                          "identifier": "BE0697691997",
                          "nature": "Sociale aandelen",
                          "sharesNumber": "980",
                          "sharesPercentage": "0.49",
                          "specification": null
                        },
                        {
                          "name": "Wind4Flanders Projects ALFA",
                          "identifier": "BE0737828520",
                          "nature": "Aandelen",
                          "sharesNumber": "1000",
                          "sharesPercentage": "1",
                          "specification": null
                        },
                        {
                          "name": "WIND4WALLONIA",
                          "identifier": "BE0553486057",
                          "nature": "Quota A",
                          "sharesNumber": "79538",
                          "sharesPercentage": "0.5",
                          "specification": null
                        },
                        {
                          "name": "WINDWALLONIA 2",
                          "identifier": "BE0676540851",
                          "nature": "Quota A",
                          "sharesNumber": "1",
                          "sharesPercentage": null,
                          "specification": null
                        },
                        {
                          "name": "ZANDVLIET POWER",
                          "identifier": "BE0477543470",
                          "nature": "Aandelen",
                          "sharesNumber": "16000",
                          "sharesPercentage": "0.5",
                          "specification": null
                        },
                        {
                          "name": "ENGIE GENERATION GERMANY gmbh",
                          "identifier": "DEDE326773222",
                          "nature": "Aandelen",
                          "sharesNumber": "25000",
                          "sharesPercentage": "1",
                          "specification": null
                        },
                        {
                          "name": "ENGIE ALLIANCE",
                          "identifier": null,
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "12",
                          "sharesPercentage": "0.12",
                          "specification": null
                        },
                        {
                          "name": "ENGIE CORP LUXEMBOURG SARL",
                          "identifier": "LUB3-309",
                          "nature": "Aandelen",
                          "sharesNumber": "10",
                          "sharesPercentage": "0.0003",
                          "specification": null
                        },
                        {
                          "name": "ENGIE INVEST INTERNATIONAL",
                          "identifier": "LUB1860",
                          "nature": "Aandelen E",
                          "sharesNumber": "58282",
                          "sharesPercentage": "0.0245",
                          "specification": null
                        },
                        {
                          "name": "ENGIE ENERGIE NEDERLAND HOLDING",
                          "identifier": "NL808013269B01",
                          "nature": "Aandelen",
                          "sharesNumber": "52022084000",
                          "sharesPercentage": "1",
                          "specification": null
                        },
                        {
                          "name": "WIND4WALLONIA 3",
                          "identifier": "BE0746583858",
                          "nature": "Aandelen",
                          "sharesNumber": "100",
                          "sharesPercentage": "1",
                          "specification": null
                        },
                        {
                          "name": "BELGONUCLEAIRE",
                          "identifier": "BE0403126258",
                          "nature": "Aandelen",
                          "sharesNumber": "13545",
                          "sharesPercentage": "0.3386",
                          "specification": null
                        },
                        {
                          "name": "LES VENTS DE PERWEZ",
                          "identifier": "BE0866959175",
                          "nature": "Aandelen B",
                          "sharesNumber": "413",
                          "sharesPercentage": "0.2488",
                          "specification": null
                        }
                      ]
                    },
                    {
                      "year": 2019,
                      "items": [
                        {
                          "name": "BELUX INNOVATION HOLDING",
                          "identifier": "BE0664799495",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "39997",
                          "sharesPercentage": "0.9999",
                          "specification": null
                        },
                        {
                          "name": "BLOMHOF",
                          "identifier": "BE0405671420",
                          "nature": "Aandelen A",
                          "sharesNumber": "44999",
                          "sharesPercentage": "0.9999",
                          "specification": null
                        },
                        {
                          "name": "CONTASSUR (CONTIBEL ASSURANCES VIE)",
                          "identifier": "BE0424225045",
                          "nature": "Aandelen",
                          "sharesNumber": "15000",
                          "sharesPercentage": "0.15",
                          "specification": null
                        },
                        {
                          "name": "CONTASSUR ASSISTANCE CONSEIL",
                          "identifier": "BE0404525632",
                          "nature": "Aandelen",
                          "sharesNumber": "1",
                          "sharesPercentage": "0.0004",
                          "specification": null
                        },
                        {
                          "name": "ELECTRABEL COGREEN",
                          "identifier": "BE0525640426",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "150",
                          "sharesPercentage": "0.0199",
                          "specification": null
                        },
                        {
                          "name": "ELECTRABEL OFFSHORE ENERGY",
                          "identifier": "BE0696638261",
                          "nature": "Aandelen A",
                          "sharesNumber": "544248",
                          "sharesPercentage": "1",
                          "specification": null
                        },
                        {
                          "name": "ELECTRABEL SEANERGY",
                          "identifier": "BE0479612837",
                          "nature": "Aandelen A",
                          "sharesNumber": "800",
                          "sharesPercentage": "0.8",
                          "specification": null
                        },
                        {
                          "name": "EGPF (ELECTRABEL GREEN PROJECTS FLANDERS)",
                          "identifier": "BE0465399763",
                          "nature": "Aandelen A",
                          "sharesNumber": "356384",
                          "sharesPercentage": "0.7",
                          "specification": null
                        },
                        {
                          "name": "ENGIE ENERGY MANAGEMENT",
                          "identifier": "BE0831958211",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "67444545",
                          "sharesPercentage": "1",
                          "specification": null
                        },
                        {
                          "name": "ENGIE MANAGEMENT COMPANY BELGIUM",
                          "identifier": "BE0825952921",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "1",
                          "sharesPercentage": "0.01",
                          "specification": null
                        },
                        {
                          "name": "ENGIE GLOBAL BUSINESS SUPPORT",
                          "identifier": "BE0505619626",
                          "nature": "Sociale aandelen",
                          "sharesNumber": "1",
                          "sharesPercentage": "0.0001",
                          "specification": null
                        },
                        {
                          "name": "ENGIE M2M",
                          "identifier": "BE0632450985",
                          "nature": "Aandelen",
                          "sharesNumber": "178746",
                          "sharesPercentage": "0.2927",
                          "specification": null
                        },
                        {
                          "name": "ENGIE SUN4BUSINESS",
                          "identifier": "BE0666554504",
                          "nature": "Aandelen",
                          "sharesNumber": "4000",
                          "sharesPercentage": "0.7407",
                          "specification": null
                        },
                        {
                          "name": "ENGIE SUN4BUSINESS 3",
                          "identifier": "BE0704895139",
                          "nature": "Aandelen",
                          "sharesNumber": "1",
                          "sharesPercentage": "0.05",
                          "specification": null
                        },
                        {
                          "name": "ENORA",
                          "identifier": "BE0542769438",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "1950",
                          "sharesPercentage": "0.195",
                          "specification": null
                        },
                        {
                          "name": "GENFINA",
                          "identifier": "BE0435084986",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "1",
                          "sharesPercentage": null,
                          "specification": null
                        },
                        {
                          "name": "GREENSKY",
                          "identifier": "BE0817203422",
                          "nature": "Aandelen A",
                          "sharesNumber": "55400",
                          "sharesPercentage": "0.5",
                          "specification": null
                        },
                        {
                          "name": "GROEN COMPAGNIE VERTE",
                          "identifier": "BE0687519370",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "141202",
                          "sharesPercentage": "0.5",
                          "specification": null
                        },
                        {
                          "name": "INTERNATIONAL POWER LTD",
                          "identifier": "GB002366963",
                          "nature": "Aandelen",
                          "sharesNumber": "5445194036",
                          "sharesPercentage": "1",
                          "specification": null
                        },
                        {
                          "name": "LABORELEC (LABORATOIRE BELGE DE L'INDUSTRIE ELECTRIQUE)",
                          "identifier": "BE0400902582",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "74996",
                          "sharesPercentage": "0.9999",
                          "specification": null
                        },
                        {
                          "name": "LES VENTS DE L'ORNOI",
                          "identifier": "BE0480079823",
                          "nature": "Aandelen B",
                          "sharesNumber": "500",
                          "sharesPercentage": "0.5",
                          "specification": null
                        },
                        {
                          "name": "LILLO ENERGY",
                          "identifier": "BE0893067914",
                          "nature": "Aandelen B",
                          "sharesNumber": "2250",
                          "sharesPercentage": "0.5",
                          "specification": null
                        },
                        {
                          "name": "N-ALLO",
                          "identifier": "BE0466200311",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "29363",
                          "sharesPercentage": "0.9999",
                          "specification": null
                        },
                        {
                          "name": "RECYBEL",
                          "identifier": "BE0449342996",
                          "nature": "Aandelen D",
                          "sharesNumber": "1764",
                          "sharesPercentage": "0.49",
                          "specification": null
                        },
                        {
                          "name": "SEAGULL I",
                          "identifier": "BE0698792156",
                          "nature": "Aandelen",
                          "sharesNumber": "6249",
                          "sharesPercentage": "0.6249",
                          "specification": null
                        },
                        {
                          "name": "SEAGULL II",
                          "identifier": "BE0698792255",
                          "nature": "Aandelen",
                          "sharesNumber": "6250",
                          "sharesPercentage": "0.625",
                          "specification": null
                        },
                        {
                          "name": "SYNATOM ( SOCIETE BELGE DES COMBUSTIBLES NUCLEAIRES )",
                          "identifier": "BE0406820671",
                          "nature": "Aandelen",
                          "sharesNumber": "1999999",
                          "sharesPercentage": "1",
                          "specification": null
                        },
                        {
                          "name": "UFI SA (UNION FINANCIERE ET INDUSTRIELLE)",
                          "identifier": "BE0402365601",
                          "nature": "Aandelen",
                          "sharesNumber": "4999500",
                          "sharesPercentage": "1",
                          "specification": null
                        },
                        {
                          "name": "WALWIND",
                          "identifier": "BE0689797880",
                          "nature": "Sociale aandelen",
                          "sharesNumber": "1500",
                          "sharesPercentage": "0.5",
                          "specification": null
                        },
                        {
                          "name": "WIND4FLANDERS",
                          "identifier": "BE0628836449",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "861936",
                          "sharesPercentage": "0.5",
                          "specification": null
                        },
                        {
                          "name": "WIND4FLANDERS Projects 1",
                          "identifier": "BE0553485859",
                          "nature": "Sociaal Aandelen",
                          "sharesNumber": "1",
                          "sharesPercentage": null,
                          "specification": null
                        },
                        {
                          "name": "WIND4FLANDERS Projects 2",
                          "identifier": "BE0627661264",
                          "nature": "Aandelen",
                          "sharesNumber": "1",
                          "sharesPercentage": null,
                          "specification": null
                        },
                        {
                          "name": "WIND4FLANDERS Projects 3",
                          "identifier": "BE0644840855",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "1",
                          "sharesPercentage": null,
                          "specification": null
                        },
                        {
                          "name": "WIND4FLANDERS Projects 4",
                          "identifier": "BE0667684850",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "1",
                          "sharesPercentage": null,
                          "specification": null
                        },
                        {
                          "name": "WIND4FLANDERS Projects 5",
                          "identifier": "BE0697691997",
                          "nature": "Sociale aandelen",
                          "sharesNumber": "980",
                          "sharesPercentage": "0.49",
                          "specification": null
                        },
                        {
                          "name": "WIND4WALLONIA",
                          "identifier": "BE0553486057",
                          "nature": "Quota A",
                          "sharesNumber": "79538",
                          "sharesPercentage": "0.5",
                          "specification": null
                        },
                        {
                          "name": "WINDWALLONIA 2",
                          "identifier": "BE0676540851",
                          "nature": "Quota A",
                          "sharesNumber": "1",
                          "sharesPercentage": null,
                          "specification": null
                        },
                        {
                          "name": "ZANDVLIET POWER",
                          "identifier": "BE0477543470",
                          "nature": "Aandelen",
                          "sharesNumber": "16000",
                          "sharesPercentage": "0.5",
                          "specification": null
                        },
                        {
                          "name": "ENGIE ALLIANCE",
                          "identifier": null,
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "12",
                          "sharesPercentage": "0.12",
                          "specification": null
                        },
                        {
                          "name": "ENGIE CORP LUXEMBOURG SARL",
                          "identifier": null,
                          "nature": "Aandelen",
                          "sharesNumber": "10",
                          "sharesPercentage": "0.0003",
                          "specification": null
                        },
                        {
                          "name": "ENGIE INVEST INTERNATIONAL",
                          "identifier": null,
                          "nature": "Aandelen E",
                          "sharesNumber": "162322",
                          "sharesPercentage": "0.0654",
                          "specification": null
                        },
                        {
                          "name": "ENGIE ENERGIE NEDERLAND HOLDING",
                          "identifier": "NL808013269B01",
                          "nature": "Aandelen",
                          "sharesNumber": "52022084000",
                          "sharesPercentage": "1",
                          "specification": null
                        },
                        {
                          "name": "BELGONUCLEAIRE",
                          "identifier": "BE0403126258",
                          "nature": "Aandelen",
                          "sharesNumber": "13545",
                          "sharesPercentage": "0.3386",
                          "specification": null
                        },
                        {
                          "name": "LES VENTS DE PERWEZ",
                          "identifier": "BE0866959175",
                          "nature": "Aandelen B",
                          "sharesNumber": "413",
                          "sharesPercentage": "0.2488",
                          "specification": null
                        },
                        {
                          "name": "TECNUBEL",
                          "identifier": "BE0427625092",
                          "nature": "Aandelen",
                          "sharesNumber": "9999",
                          "sharesPercentage": "0.9999",
                          "specification": null
                        },
                        {
                          "name": "EUROPEAN CONTROL SERVICES",
                          "identifier": "BE0440119088",
                          "nature": "Aandelen",
                          "sharesNumber": "9",
                          "sharesPercentage": "0.0891",
                          "specification": null
                        },
                        {
                          "name": "WIND4FLANDERS Projects 6",
                          "identifier": "BE0737828520",
                          "nature": "Sociale aandelen",
                          "sharesNumber": "1000",
                          "sharesPercentage": "1",
                          "specification": null
                        },
                        {
                          "name": "ENGIE GENERATION GERMANY gmbh",
                          "identifier": "DEDE326773222",
                          "nature": "Sociale aandelen",
                          "sharesNumber": "25000",
                          "sharesPercentage": "1",
                          "specification": null
                        }
                      ]
                    },
                    {
                      "year": 2018,
                      "items": [
                        {
                          "name": "BELUX INNOVATION HOLDING",
                          "identifier": "BE0664799495",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "39997",
                          "sharesPercentage": "0.9999",
                          "specification": null
                        },
                        {
                          "name": "BLOMHOF",
                          "identifier": "BE0405671420",
                          "nature": "Aandelen A",
                          "sharesNumber": "44999",
                          "sharesPercentage": "0.9999",
                          "specification": null
                        },
                        {
                          "name": "CONTASSUR (CONTIBEL ASSURANCES VIE)",
                          "identifier": "BE0424225045",
                          "nature": "Aandelen",
                          "sharesNumber": "15000",
                          "sharesPercentage": "0.15",
                          "specification": null
                        },
                        {
                          "name": "CONTASSUR ASSISTANCE CONSEIL",
                          "identifier": "BE0404525632",
                          "nature": "Aandelen",
                          "sharesNumber": "1",
                          "sharesPercentage": "0.0004",
                          "specification": null
                        },
                        {
                          "name": "ELECTRABEL COGREEN",
                          "identifier": "BE0525640426",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "150",
                          "sharesPercentage": "0.0199",
                          "specification": null
                        },
                        {
                          "name": "ELECTRABEL OFFSHORE ENERGY",
                          "identifier": "BE0696638261",
                          "nature": "Aandelen A",
                          "sharesNumber": "510998",
                          "sharesPercentage": "0.9983",
                          "specification": null
                        },
                        {
                          "name": "ELECTRABEL SEANERGY",
                          "identifier": "BE0479612837",
                          "nature": "Aandelen A",
                          "sharesNumber": "800",
                          "sharesPercentage": "0.8",
                          "specification": null
                        },
                        {
                          "name": "EGPF (ELECTRABEL GREEN PROJECTS FLANDERS)",
                          "identifier": "BE0465399763",
                          "nature": "Aandelen A",
                          "sharesNumber": "356384",
                          "sharesPercentage": "0.7",
                          "specification": null
                        },
                        {
                          "name": "ENGIE ENERGY MANAGEMENT",
                          "identifier": "BE0831958211",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "999998",
                          "sharesPercentage": "0.9999",
                          "specification": null
                        },
                        {
                          "name": "ENGIE MANAGEMENT COMPANY BELGIUM",
                          "identifier": "BE0825952921",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "1",
                          "sharesPercentage": "0.01",
                          "specification": null
                        },
                        {
                          "name": "ENGIE GLOBAL BUSINESS SUPPORT",
                          "identifier": "BE0505619626",
                          "nature": "Sociale aandelen",
                          "sharesNumber": "1",
                          "sharesPercentage": "0.0001",
                          "specification": null
                        },
                        {
                          "name": "ENGIE M2M",
                          "identifier": "BE0632450985",
                          "nature": "Aandelen",
                          "sharesNumber": "157236",
                          "sharesPercentage": "0.2863",
                          "specification": null
                        },
                        {
                          "name": "ENGIE SUN4BUSINESS",
                          "identifier": "BE0666554504",
                          "nature": "Aandelen",
                          "sharesNumber": "2700",
                          "sharesPercentage": "0.5",
                          "specification": null
                        },
                        {
                          "name": "ENGIE SUN4BUSINESS 3",
                          "identifier": "BE0704895139",
                          "nature": "Aandelen",
                          "sharesNumber": "1",
                          "sharesPercentage": "0.0005",
                          "specification": null
                        },
                        {
                          "name": "ENORA",
                          "identifier": "BE0542769438",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "1950",
                          "sharesPercentage": "0.3333",
                          "specification": null
                        },
                        {
                          "name": "SOCIETE ESPACE-BAVIERE",
                          "identifier": "BE0443548138",
                          "nature": "Aandelen",
                          "sharesNumber": "150",
                          "sharesPercentage": "0.5",
                          "specification": null
                        },
                        {
                          "name": "GENFINA",
                          "identifier": "BE0435084986",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "1",
                          "sharesPercentage": null,
                          "specification": null
                        },
                        {
                          "name": "GREENSKY",
                          "identifier": "BE0817203422",
                          "nature": "Aandelen A",
                          "sharesNumber": "55400",
                          "sharesPercentage": "0.5",
                          "specification": null
                        },
                        {
                          "name": "GROEN COMPAGNIE VERTE",
                          "identifier": "BE0687519370",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "141202",
                          "sharesPercentage": "0.5",
                          "specification": null
                        },
                        {
                          "name": "INTERNATIONAL POWER LTD",
                          "identifier": "GB002366963",
                          "nature": "Aandelen",
                          "sharesNumber": "5445194036",
                          "sharesPercentage": "1",
                          "specification": null
                        },
                        {
                          "name": "LABORELEC (LABORATOIRE BELGE DE L'INDUSTRIE ELECTRIQUE)",
                          "identifier": "BE0400902582",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "74996",
                          "sharesPercentage": "0.9999",
                          "specification": null
                        },
                        {
                          "name": "LES VENTS DE L'ORNOI",
                          "identifier": "BE0480079823",
                          "nature": "Aandelen B",
                          "sharesNumber": "500",
                          "sharesPercentage": "0.5",
                          "specification": null
                        },
                        {
                          "name": "LILLO ENERGY",
                          "identifier": "BE0893067914",
                          "nature": "Aandelen B",
                          "sharesNumber": "2250",
                          "sharesPercentage": "0.5",
                          "specification": null
                        },
                        {
                          "name": "N-ALLO",
                          "identifier": "BE0466200311",
                          "nature": "Sociale Aandelen",
                          "sharesNumber": "25261",
                          "sharesPercentage": "0.8602",
                          "specification": null
                        },
                        {
                          "name": "OOSTERWEEL",
                          "identifier": "BE0468316691",
                          "nature": "Aandelen B",
                          "sharesNumber": "125",
                          "sharesPercentage": "1",
                          "specification": null
                        },
                        {
                          "name": "RECYBEL",
                          "identifier": "BE0449342996",
                          "nature": "Aandelen D",
                          "sharesNumber": "1764",
                          "sharesPercentage": "0.49",
                          "specification": null
                        },
                        {
                          "name": "SEAGULL I",
                          "identifier": "BE0698792156",
                          "nature": "Aandelen",
                          "sharesNumber": "6249",
                          "sharesPercentage": "0.6249",
                          "specification": null
                        },
                        {
                          "name": "SEAGULL II",
                          "identifier": "BE0698792255",
                          "nature": "Aandelen",
                          "sharesNumber": "6250",
                          "sharesPercentage": "0.625",
                          "specification": null
                        },
                        {
                          "name": "SYNATOM ( SOCIETE BELGE DES COMBUSTIBLES NUCLEAIRES )",
                          "identifier": "BE0406820671",
                          "nature": "Aandelen",
                          "sharesNumber": "1999999",
                          "sharesPercentage": "1",
                          "specification": null
                        },
                        {
                          "name": "UFI SA (UNION FINANCIERE ET INDUSTRIELLE)",
                          "identifier": "BE0402365601",
[...]
